<launch>
    <node pkg="roguetwo_navigation" type="path_planning_node" name="path_planning_node" output="screen" />
    <node pkg="roguetwo_navigation" type="sensor_fusion" name="sensor_fusion" output="screen" />
    <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform" clear_params="true">
        <rosparam command="load" file="$(find roguetwo_navigation)/params/navsat_transform.yaml" />
        <remap from="imu/data" to="imu/data"/>
        <remap from="gps/fix" to="gps"/>
    </node>

    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se" clear_params="true">
        <rosparam command="load" file="$(find roguetwo_navigation)/params/ekf_transform.yaml" />
    </node>
</launch>