
<launch>
	<!-- ************ Octomap Server **************** -->
    <node pkg="octomap_server" type="octomap_server_node" name="octomap_server">

            <param name="resolution" value="0.2" />

            <!-- fixed map frame (set to 'map' if SLAM or localization running!) -->
            <param name="frame_id" type="string" value="world" />

            <!-- maximum range to integrate (speedup!) -->
            <param name="sensor_model/max_range" value="10.0" />

            <!-- Ignore the ground plane -->
            <param name="filter_ground" value="False" />

            <!-- Min and max height for cell to be included -->
            <param name="pointcloud_min_z" value="0.35" />
            <param name="pointcloud_max_z" value="1.0" />



    </node> 

     <!--  ************** Markers to PCL Conversion ***************  -->
   <node pkg="roguetwo_perception" type="markers_to_pcl_node" name="markers_to_pcl_node" output="screen">
        <!-- set use_imu flag. This changes the frame that SVO publishes in -->
        <param name="use_imu" type="bool" value="true" />
   </node>
</launch>