
<launch>
      <node pkg="nodelet" type="nodelet" name="standalone_nodelet"  args="manager"/>

      <node pkg="nodelet" type="nodelet" name="octomap_server_nodelet" args="load octomap_server/OctomapServerNodelet standalone_nodelet">


            <param name="resolution" value="0.2" />

            <!-- fixed map frame (set to 'map' if SLAM or localization running!) -->
            <param name="frame_id" type="string" value="world" />

            <!-- maximum range to integrate (speedup!) -->
            <param name="sensor_model/max_range" value="10.0" />

            <!-- Ignore the ground plane -->
            <param name="filter_ground" value="False" />

            <!-- Min and max height for cell to be included -->
            <param name="pointcloud_min_z" value="0.35" />
            <param name="pointcloud_max_z" value="1.0" />

            <remap from="octomap_server_nodelet/cloud_in" to="cloud_in" />


    </node> 

     <!--  ************** Markers to PCL Conversion ***************  -->
   <node pkg="roguetwo_perception" type="markers_to_pcl_node" name="markers_to_pcl_node" output="screen">
        <!-- set use_imu flag. This changes the frame that SVO publishes in -->
        <param name="use_imu" type="bool" value="true" />
   
   </node>
</launch>