<launch>
	<include file="$(find roguetwo_perception)/launch/markers_to_pcl.launch" />
	<include file="$(find roguetwo_perception)/launch/mono_launch_arm.launch" />

	<node pkg="roguetwo_perception" type="svo_wrapper.py" name="svo_wrapper" output="screen" />

	<node pkg="tf" type="static_transform_publisher" name="world_broadcaster" args="0 0 0 0 0 0 world odom 100" />	
	<node pkg="roguetwo_perception" type="sync_perception_hardware_node"
		name="sync_perception_hardware_node" output="screen" />
	<node pkg="roguetwo_perception" type="velocity_estimation_node"
		name="velocity_estimation" output="screen" />
</launch>


